<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css" />
    <title>Books</title>
</head>
<body>
    <%books.forEach(book => {%>
    <div class="book-container">
        <div class="book">
          <!-- <img src="book-cover.jpg" alt="Book Cover"> -->
          <div class="book-info">
            <h3 class="book-title" name="bookTitle" >Book Title: <%= book.bookTitle%></h3>
            <p class="book-author" name="bookAuthor" >Book Author: <%= book.bookAuthor%></p>
            <p class="book-genre" name="bookGenre" >Genre: <%= book.bookGenre%></p>
            <p class="book-description" name="bookDescription" >Book Description:<%= book.bookDescription%></p>
            <div class="buttons-container">
                <a href="editBook/<%=book._id%>">
                    <button class="button">Edit</button>
                    </a>

                <form action="/<%=book._id%>?_method=DELETE" method="POST">
                <button class="button" type="submit">Delete</button>
                </form>
              </div>
          </div>
        </div>
      </div>
      <%})%>
      
</body>
</html>